
.teachers-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 8px;
}
.collection-container{
    margin: 10px;
    text-align: center;
    background-color: #b8cfad;
    height: 250px;
    border-radius: 8px;
}