.card{
    background-color: #b8cfad;
    text-align: center;
    padding: 15px 8px;
    border-radius: 10px;
}
.card-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #7ED957;
}
p.bold{
    font-weight: bold;
}
.btn-primary{
    padding: 8px 15px;
    border-radius: 8px;
    border: 2px solid #7ED957;
    cursor: pointer;
}